
@{
    ViewBag.Title = "Downloads";
}
<style>
    a.but_download {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
    color:white;
    font-size:15px;
}
    a.but_download:hover {
	background-color: #ff9900;
    color:black;
    font-size:15px;
    }
    .address_info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 91%;
	margin-bottom: 40px;
}
.address_info.two {
	background-color: #fff;
	border: none;
	margin-bottom: 20px;
	padding-top: 0px;
}
.address_info h3 i {
	font-weight: 500;
	font-style: normal;
}

      .info {
            color: #4a84bc;
            border-color: #c6e3ff;
            background-color: #e6f3ff !important;
        }
        .info, .error, .notice, .success {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            border: 1px solid #bbb;
            margin-bottom: 20px;
            font-size: 13px;
        }
        .message-box-wrap {
            border: 0px solid #fff;
            padding: 10px;
        }
        .close-but {
	        width: 10px;
	        height: 10px;
	        float: right;
	        border: none;
	        margin: 5px;
	        cursor: pointer;
	        font-size: 0px;
	        background: url(/Content/images/elements/icon-remove.png) no-repeat center top;
        }
</style>
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Downloads</li>
            </ul>
            <h2>Downloads</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">
                    <div id="div1" class="info">
                        <div class="message-box-wrap">
                            <button class="close-but" id="colosebut1">close</button> A various support documents can be downloaded from this page in PDF format. Click specific link to download the file. Expandable Villas / Approved Plots
                        </div>
                    </div>

                    <div style="padding-bottom:20px;margin-bottom:20px;border-bottom:1px dotted #333;">
                        <h5 style="font-size:18px; font-weight:600;">Teachers Edu City Hosur (Near Bangalore) Tamil Nadu</h5>
                        <p>
                            Tamilnadu Teachers Housing Welfare Trust brings you another exiting project for its members under the "Flexible Scheme". The project is launched in Hosur at Kundamaranapalli village that lie inside Tamil Nadu on the Kelangala road and very much reachable to Bangalore. Project has the flexibility to buy plots in Installment and as well as Outright model.  We also have the optional specialized Villa Plots in varieties of 1BHK, 2BHK,and 3 BHK for your choice. Kindly use the download and arrange to submit the filled in applications with Rs.5,000/- Cheque or Demand draft as initial booking advance to participate in the allotment at our Trust office.
                        </p>
                        <p><a href="http://tnteacherstrust.org/downloads/Teachers-Edu-City-Hosur-Nov-2015.pdf" class="but_download" title="Application-Teachers-"><i class="fa fa-download fa-lg"></i> Download File</a><p>
                    </div>
                    <div style="padding-bottom:20px;margin-bottom:20px;border-bottom:1px dotted #333;">
                        <h5 style="font-size:18px; font-weight:600;">Teachers Sri Rajarajeshwari Township Phase-4</h5>
                        <p>
                            Tamilnadu Teachers Housing  Welfare Trust brings you this exiting project for its members under the "Neighbourhood Scheme". The project is reachable through Tirchy-Madurai NH and also via Tirchy-Viralimalai-Pudukkottai road located at Illuppur village. Hundreds of Families are already living in a serene family atmosphere at this Township. We proudly present specialised villa plots, apartments and farm plots in varities of 1BHK,2BHK,and 3 BHK options both available in general and luxury models for your choice. Kindly use the download and arrange to submit the filled in applications with Rs.30,000/- Cheque or Demand draft as initial booking advance to participate in the allotment at our Trust office.
                        </p>
                        <p><a href="http://tnteacherstrust.org/downloads/Teachers-SRR-Township-Application.pdf" class="but_download" title="Application-Trichy-20-08-2015.pdf"><i class="fa fa-download fa-lg"></i> Download File</a><p>
                    </div>

                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="address_info two">
                    <h3>Contact <i>Info</i></h3>
                    <p>Please be patient while waiting for response. (24/7 Support!) <strong>Phone General Inquiries: 91 - 44 - 4909 7777 ( 10 Lines ) </strong></p>
                </div><!-- end section -->
            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

