
@{
    ViewBag.Title = "News and events";
    ViewBag.PageInfo = "News and events";
}

<style>
    .content_fullwidth {
	float: left;
	width: 100%;
	padding: 59px 0px 0px 0px;
}
.content_left {
	float: left;
	width: 71%;
	padding: 59px 0px 0px 0px;
}

.content_right {
	float: right;
	width: 71%;
	padding: 59px 0px 0px 0px;
}

    .right_sidebar {
	float: right;
	width: 25%;
	padding: 59px 0px 0px 0px;
}

    .blog_post a.date {
	padding: 10px 5px 0px 0px;
	text-decoration: none;
	width: 55px;
	height: 55px;
	text-align: center;
	background: #f9f9f9;
	display: block;
	margin-right: 20px;
	float: left;
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.blog_post a.date strong {
	color: #fc4242;
	font-size: 27px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.blog_post a.date:hover strong {
	color: #333;
}
.blog_post a.date i {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	padding: 0px 10px;
	display: block;
	border-top: 1px solid #f3f3f3;
	width: 40px;
	background-color: #fc4242;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.blog_post a.date:hover i {
	background-color: #383634;
}
    .blog_post h3 a {
        font-size: 24px;
    }

    .blog_post a.date i {
        width: 55px;
    }

    .post_info_content_small {
        width: 85%;
    }

    .blog_postcontent p {
        padding-left: 75px;
    }
</style>
<div class="clearfix"></div>

<!-- Contant
======================================= -->


<div class="clearfix"></div>

<div class="container">

    <div class="content_left">
        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a href="" class="date"><strong>25</strong><i>Apr</i>25</a>
                    <h3><a href="">Housing at Oragadam Teachers Trust Projects</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">TNT</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>All Applicants for HOUSING AT ORAGADAM TEACHERS TRUST PROJECTS are invited to Visit Site &amp; Confirm your Allotment. Call To Clarify: 044 - 4909 7777 (10 Lines) - TEACHERS TRUST &nbsp;</p>
                </div>
            </div>
        </div><!-- /# end post -->
        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a href="" class="date"><strong>04</strong><i>Dec</i>04</a>
                    <h3><a href="">Villas at Chennai / Coimbatore / Palani</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">TNT</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>Launching of Villas at Chennai / Coimbatore / Palani available from 4th December 2014. Call To Clarify: 044 - 4909 7777 (10 Lines) - TEACHERS TRUST</p>
                </div>
            </div>
        </div><!-- /# end post -->
        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a href="" class="date"><strong>17</strong><i>Aug</i>17</a>
                    <h3><a href="">High Rise Apartment at OMR</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">TNT</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>Launching of High Rise Apartment at OMR - Kalavakkam - The Village - In tie up with Phoenix - Hodu on 17th August 2013</p>
                </div>
            </div>
        </div><!-- /# end post -->
        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a href="" class="date"><strong>04</strong><i>Dec</i>04</a>
                    <h3><a href="">Villas at Chennai / Coimbatore / Palani</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">TNT</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>Launching of Villas at Chennai / Coimbatore / Palani available from 4th December 2014. Call To Clarify: 044 - 4909 7777 (10 Lines) - TEACHERS TRUST .</p>
                </div>
            </div>
        </div><!-- /# end post -->
        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a href="" class="date"><strong>04</strong><i>Jul</i>04</a>
                    <h3><a href="">Launch Of New Projects</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">TNT</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><strong></strong>Our Ongoing projects is aimed to improve the Standard of Living of the teaching community by offering Plots, Row Houses, Villas, Apartment at the barest minimum rate with quality deliverables.</p>
                </div>
            </div>
        </div><!-- /# end post -->

    </div><!-- end content left side -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="clientsays_widget">

            <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
            <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
            <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be acasseonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

        </div><!-- end section -->



    </div><!-- end right sidebar -->

</div>


<div class="clearfix margin_top4"></div>

