@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{ <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header" style="color:white;font-size:1.2em;">Main Navigation</li>
            <!-- Optionally, you can add icons to the links -->

            <li class="treeview">
                <a href="#"><i class="fa fa-asterisk"></i> <span>Customer</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-table"></i><span>Application List</span></a></li>
                    <li><a href="#"><i class="fa fa-table"></i><span>Receipt List</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-asterisk"></i> <span>Projects</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="" id="projectindex"><i class="fa fa-table"></i><span>Project List</span></a></li>
                    <li><a href="#"><i class="fa fa-table"></i><span>Project Types List</span></a></li>
                    <li><a href="" id="createproject"><i class="fa fa-plus-square"></i><span>Create Project</span></a></li>
                </ul>
            </li>


        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
}
