
@{
    ViewBag.Title = "Core Values-Tamil Nadu Teachers housing pvt Ltd-Real estate";
}
<style>
.project-box ul li {
  list-style: inherit;
  list-style-type: disc;
  list-style-position: inside;
}
</style>
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Core Values</li>
            </ul>
            <h2>Core Values</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">

                    <!-- <h2 class="section_title_drakgray" style="text-align:center;"><strong></strong></h2> -->
                    <div class="aboutbanner">
                        <img src="~/Content/assets/images/cms/tnt_630489.jpg">
                    </div>

                    <p class="newp" style="text-align: justify;">The trust has given a lifetime assets to their members of their hard earned money within a realistic budget. It is no wonder that we have developed plots all over tamil nadu and other states where our community resides. The trust core team has a potent mix of youth and experienced members to understand the requirements of the teachers and provide service from the heart.</p>
                    <p class="newp"><strong>Project Features</strong></p>
                    <ul>
                        <li>Approved plots from DTCP /&nbsp; Local Panchayat</li>
                        <li>Frequent Bus Facilities</li>
                        <li>Access to Railway Station</li>
                        <li>Natural Ground water</li>
                        <li>Clear title</li>
                        <li>Attractive Price and less than the Market</li>
                        <li>Highly protected Developed Layout with the Arch, Fully fenced &amp; Secured with gate, /street Lights, tree guards, Thar roads, etc&nbsp;</li>
                    </ul>
                    <p class="newp"><strong>Members Services</strong></p>
                    <p class="newp"><strong>Pre - Sales Services</strong>&nbsp;</p>
                    <ul>
                        <li>Free site visit for all the Customers</li>
                        <li>Provide the documentation for Legal Scrutiny</li>
                        <li>Updation on regular Market information</li>
                        <li>Comparably Price is less than the market</li>
                        <li>Payment in flexible installments</li>
                        <li>Help the beneficiaries to select sites as per Vasthu for individuals</li>
                        <li>Exclusive for the Teachers Community</li>
                        <li>Loans also arranged through the Listed Financial Institutions for Plots and also for construction&nbsp;</li>
                    </ul>
                    <p class="newp"><strong>Post - Sales Services</strong></p>
                    <ul>
                        <li>Information About Resale of plots</li>
                        <li>Maintenance of the site</li>
                        <li>General Details about the norms</li>
                        <li>Worry free transaction</li>
                        <li>House construction also undertaken for the members</li>
                        <li>Life time assets</li>
                        <li>Caretaking of your plots for 5years</li>
                    </ul>
                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="clientsays_widget">

                    <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
                    <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
                    <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

                </div>
                <div class="clearfix margin_top4"></div>
                <div class="sidebar_widget">
                    <div class="sidebar_title">
                        <h3>
                            <a href="">
                                <img src="~/Content/assets/images/downloads.png" />
                            </a>
                        </h3>
                    </div>
                </div>

            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->
<!--footer-->


