
@{
    ViewBag.Title = "Management Team-Tamil Nadu Teachers housing pvt Ltd-Real estate";
}

<style>
    .project-box ul li {
        list-style: inherit;
        list-style-type: disc;
        list-style-position: inside;
    }
</style>
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Management and Team</li>
            </ul>
            <h2>Management and Team</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container ContentHeight">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">

                    <!-- <h2 class="section_title_drakgray" style="text-align:center;"><strong></strong></h2> -->

                    <ul>
                        <li>Sri. M. VISWANATHAN, Founder &amp; Managing Trustee.</li>
                        <li>Sri. R. BALAKUMAR, Trustee.</li>
                        <li>Sri. V.SUDHAKAR B.A., B.L., Trustee.</li>
                        <li>Sri.N.DANAJEYAM I.A.S (Retd.) Executive Director.</li>
                        <li>Sri. G.S.RAMESH BABU, Project Director.</li>
                    </ul>
                    <h2><span class="example2">Our Advocate Panel</span></h2>
                    <ul>
                        <li class="cphd_p">&nbsp;RAMESH KUMAR, Chennai.</li>
                        <li class="cphd_p">&nbsp;RANK ASSCOIATES, Chennai.</li>
                        <li class="cphd_p">&nbsp;RAJA MANICKAM, Chennai.</li>
                        <li class="cphd_p">&nbsp;MANOHAR, Chennai.</li>
                        <li class="cphd_p">&nbsp;SATHIYAN, Chennai</li>
                    </ul>
                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="clientsays_widget">

                    <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
                    <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
                    <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

                </div>
                <div class="clearfix margin_top4"></div>
                <div class="sidebar_widget">
                    <div class="sidebar_title">
                        <h3>
                            <a href="">
                                <img src="~/Content/assets/images/downloads.png" />
                            </a>
                        </h3>
                    </div>
                </div>

            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

