
@{
    ViewBag.Title = "Overview-Tamil Nadu Teachers housing pvt Ltd-Real estate";
}
<style>
.project-box ul li {
  list-style: inherit;
  list-style-type: disc;
  list-style-position: inside;
}
</style>
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Overview</li>
            </ul>
            <h2>Overview</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">

                    <!-- <h2 class="section_title_drakgray" style="text-align:center;"><strong></strong></h2> -->
                    <div class="aboutbanner">
                        <img src="~/Content/assets/images/cms/tnt_641309.jpg">
                    </div>

                    <p class="newp" style="text-align: justify;">Tamil Nadu Teachers Housing &amp; Welfare Trust is membership organization established in 2004 for development of Teachers and to support their financial welfare by various savings scheme available for their future.&nbsp; In 2005, there are 1 Lakh Members in the Trust and now it has grown to 9 Lakh active Members in the Trust till Date. As of today, It has 10 branches all over Tamil Nadu with Head quarters in Chennai.</p>
                    <p class="newp" style="text-align: justify;">Teachers Association includes members starting from Elementary to Higher Secondary Schools &amp; Colleges. The percentage of members varies as like Elementary School Teachers Constitute 30%, Higher Secondary School Teachers 20%, Matriculation School Teachers 30% and remaining 20% from Colleges. Members are classified into Low Income Group (LIG) and High Income Group (HIG). Association offers various savings scheme on installment to their members for purchasing Plots in various places in Tamil Nadu.</p>
                    <p class="newp" style="text-align: justify;"><strong>Association provides various benefits to their members as follows:</strong></p>
                    <ul style="text-align: justify;">
                        <li>Rate Benefit i.e. Members can purchase Plots offered by Association in any place in Tamil Nadu at 30% below Market Rate.</li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>Association provides clear title land for all the members</li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>Members can purchase plots by taking easy loan arranged through trust.</li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>There is a life long security provided by trust for their welfare.</li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>Appreciation of asset value.</li>
                    </ul>
                    <p class="newp" style="text-align: justify;">&nbsp;<strong>Vision:</strong></p>
                    <ul style="text-align: justify;">
                        <li>Attaining excellence in the real estate business recognize for our high standards of products and service.</li>
                    </ul>
                    <ul>
                        <li style="text-align: justify;">Achieve the benchmark for quality, dependability through transparent and coherent activities.</li>
                    </ul>
                    <p><strong>Mission: &nbsp; &nbsp;</strong><strong>&nbsp;"Strengthen the Teachers Lives, Homes and their Community"</strong></p>
                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="clientsays_widget">

                    <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
                    <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
                    <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

                </div>
                <div class="clearfix margin_top4"></div>
                <div class="sidebar_widget">
                    <div class="sidebar_title">
                        <h3>
                            <a href="">
                                <img src="~/Content/assets/images/downloads.png" />
                            </a>
                        </h3>
                    </div>
                </div>

            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->


