
@{
    ViewBag.Title = "Land_Survey_and_Feasibility-TN Teachers Housing trust";
}

<style>
    .project-box ul li {
        list-style: inherit;
        list-style-type: disc;
        list-style-position: inside;
    }
</style>
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Land Survey and Feasibility</li>
            </ul>
            <h2>Land Survey and Feasibility</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container ContentHeight">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">

                    Land survey is an instrument that specifies precise property boundaries. It is useful in determining if boundary violations (encroachments) exist. We provide consulting services that supports the art and science of Land Surveying.<br><span><br>For various projects we have provided timely, efficient and accurate land surveying. We have professional staffs of surveyors who welcome the opportunity to be of service to the public and private sectors of the community. Please feel free to contact us to discuss your surveying needs.</span>						<p style='text-align:right;padding-top:20px;'>
                        <a href="@Url.Action("Land_Survey_and_Feasibility_enquiry","Service")" style="font-weight:600;background:#333;text-align:center; padding:10px;color:#fff;font-size:13px;width:200px;border-radius:10px;">enquire now</a>
                    </p>
                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="clientsays_widget">

                    <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
                    <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
                    <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

                </div>
                <div class="clearfix margin_top4"></div>
                <div class="sidebar_widget">
                    <div class="sidebar_title">
                        <h3>
                            <a href="">
                                <img src="~/Content/assets/images/downloads.png" />
                            </a>
                        </h3>
                    </div>
                </div>

            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->
<!--footer-->

