
@{
    ViewBag.Title = "Loan Support";
    ViewBag.PageInfo = "Loan Support";
}

<style>
    .project-box ul li {
        list-style: inherit;
        list-style-type: disc;
        list-style-position: inside;
    }
</style>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container ContentHeight">
        <div class="row">

            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">

                    <div>We have tie up with leading financial institutions like SBI which provides various loan schemes for Plot/Land Purchase. We assist our customers in getting through all sorts of documentation process so as to enable them to have easy access in initiating their procedural routines. The Documentation process normally takes a few days to obtain endorsement from the bank.<br><br>If required, the customer is even assisted with legal support as our associates will assist in all legal aspects. <br><br>Housing Loan schemes are available to different categories of people such as:</div><ul><li>Salaried People</li></ul><ul><li>Business Men</li></ul><ul><li>Self Employed</li></ul><ul><li>Professionals</li></ul>						<p style='text-align:right;padding-top:20px;'>
                        <a href="@Url.Action("loan_support_enquiry","Service")" style="font-weight:600;background:#333;text-align:center; padding:10px;color:#fff;font-size:13px;width:200px;border-radius:10px;">enquire now</a>
                    </p>
                </div>

            </div><!-- end content -->

            <div id="right_sidebar" class="col-lg-4 col-md-4 col-sm4 col-xs-12 clearfix">
                <div class="clientsays_widget">

                    <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
                    <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
                    <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

                </div>
                <div class="clearfix margin_top4"></div>
                <div class="sidebar_widget">
                    <div class="sidebar_title">
                        <h3>
                            <a href="">
                                <img src="~/Content/assets/images/downloads.png" />
                            </a>
                        </h3>
                    </div>
                </div>

            </div><!-- #right_sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->