@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageHeader = ViewBag.FromController;
}

<div style="text-align:center;border:4px solid blue;z-index:100" class="col-md-8 col-md-offset-2 fontadmin">

    
        <h1 class="fontadminheader">Welcome to Teachers housing trust pvt ltd</h1>
        <h2 class="fontadmin">
            You can use the side panel to administrate the website
        </h2>
        <h3 class="fontad">Please ensure you click logout(Right Top Corner) after completing your work</h3>
        
    
</div>

