
@{
    ViewBag.Title = "Allotment Success";
    ViewBag.PageInfo = "Thank you";
}
<link href="~/Content/Admin/css/Site.css" rel="stylesheet" />
<style>
    

    #allotmentsuccess
    {
       min-height:720px;
       padding-top:300px;
       text-align:center;
       width:100%;
    }
</style>
     
<div id="allotmentsuccess" class="ContentHeight">
    <h1 class="fontadminheader" style="color:green">Your application has been successfully submitted. We will get in touch with you shortly</h1>
</div>
